In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("victorianomh/idealista-barcelona-raw-scraped-data")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.12)
Downloading from https://www.kaggle.com/api/v1/datasets/download/victorianomh/idealista-barcelona-raw-scraped-data?dataset_version_number=4...

100%|██████████| 8.65M/8.65M [00:01<00:00, 5.24MB/s]

Extracting model files...

Path to dataset files: C:\Users\User\.cache\kagglehub\datasets\victorianomh\idealista-barcelona-raw-scraped-data\versions\4

In [62]:
import pandas as pd

## EDA

In [64]:
df = pd.read_csv(r'C:\Users\User\Desktop\IronHack\Week_8\Day1\raw_data.csv')

In [71]:
df2 = pd.read_csv(r'C:\Users\User\Desktop\IronHack\Week_8\Day1\clean_data.csv')

In [72]:
df3 = pd.read_csv(r'C:\Users\User\Desktop\IronHack\Week_8\Day1\structured_dataw_description.csv')

In [73]:
df.shape

(10389, 7)

In [74]:
df2.shape

(10106, 24)

In [75]:
df3.shape

(14359, 29)

In [81]:
df.head()

,id,title,neighborhood,price,info_features,features,description
0,103375204,Flat / apartment for sale in calle de Sant Pau...,"El Raval, Barcelona","530,000","['80 m²', '2 bed.', '3rd floor exterior with l...","[['80 m² built', '2 bedrooms', '1 bathroom', '...","Beautiful renovated apartment of 80 m2, 2 bedr..."
1,94000904,Flat / apartment for sale in Hospìtal,"El Raval, Barcelona","165,000","['58 m²', '2 bed.', '3rd floor exterior withou...","[['58 m² built, 49 m² floor area', '2 bedrooms...",This two-bedroom flat is located in an unbeata...
2,104382041,Flat / apartment for sale in El Raval,"Ciutat Vella, Barcelona","430,000","['155 m²', '3 bed.', '1st floor exterior with ...","[['155 m² built, 89 m² floor area', '3 bedroom...",Spacious and modern apartment on one side of L...
3,97791792,Flat / apartment for sale in rambla del Raval,"El Raval, Barcelona","279,999","['89 m²', '2 bed.', '3rd floor exterior withou...","[['89 m² built, 80 m² floor area', '2 bedrooms...","MERC SANT ANTONI - RAMBLA RAVAL, two apartment..."
4,104397583,Flat / apartment for sale in calle de les Carr...,"El Raval, Barcelona","230,000","['70 m²', '2 bed.', '1st floor exterior with l...","[['70 m² built', '2 bedrooms', '2 bathrooms', ...",Immotecnics exclusively presents this incredib...

In [77]:
df2.head()

,id,property_type,address,neighborhood,city,price,sq_m_built,n_bedrooms,bathrooms,floor,...,balcony,second_hand,needs_renovating,parking,swimming pool,garden,air_conditioning,heating,log_price,city-neighborhood
0,103375204,Flat / apartment,"calle de Sant Pau, 25",El Raval,Barcelona,530000.0,80,2,1,3,...,True,True,False,False,False,False,True,True,13.180634,Barcelona - El Raval
1,94000904,Flat / apartment,Hospìtal,El Raval,Barcelona,165000.0,58,2,1,3,...,True,True,False,False,False,False,False,False,12.013707,Barcelona - El Raval
2,104382041,Flat / apartment,El Raval,Ciutat Vella,Barcelona,430000.0,155,3,2,1,...,True,True,False,False,False,False,True,True,12.971543,Barcelona - Ciutat Vella
3,97791792,Flat / apartment,rambla del Raval,El Raval,Barcelona,279999.0,89,2,2,3,...,True,True,False,False,False,False,True,True,12.542545,Barcelona - El Raval
4,104397583,Flat / apartment,calle de les Carretes,El Raval,Barcelona,230000.0,70,2,2,1,...,True,True,False,False,False,False,True,False,12.345839,Barcelona - El Raval

In [78]:
df2.columns

Index(['id', 'property_type', 'address', 'neighborhood', 'city', 'price',
       'sq_m_built', 'n_bedrooms', 'bathrooms', 'floor', 'year_built',
       'exterior', 'lift', 'terrace', 'balcony', 'second_hand',
       'needs_renovating', 'parking', 'swimming pool', 'garden',
       'air_conditioning ', 'heating', 'log_price', 'city-neighborhood'],
      dtype='object')

In [79]:
df3.columns

Index(['id', 'property_type', 'adress', 'neighborhood', 'city', 'price',
       'sq_m_built', 'sq_m_floor_area', 'n_bedrooms', 'bathrooms', 'floor_y',
       'year_built', 'exterior_x', 'lift_x', 'terrace', 'balcony',
       'second hand', 'needs renovating', 'parking', 'swimming pool', 'garden',
       'air conditioning', 'heating', 'central_heating', 'heating_type',
       'consumption_in_mkw/m2_year', 'emissions_in_kgco2/m2_year',
       'orientation', 'description'],
      dtype='object')

In [76]:
df3.head()

,id,property_type,adress,neighborhood,city,price,sq_m_built,sq_m_floor_area,n_bedrooms,bathrooms,...,swimming pool,garden,air conditioning,heating,central_heating,heating_type,consumption_in_mkw/m2_year,emissions_in_kgco2/m2_year,orientation,description
0,103375204,Flat / apartment,"calle de Sant Pau, 25",El Raval,Barcelona,530000.0,80,NaN,2,1,...,False,False,True,True,central,NaN,91.0,17.0,NaN,"Beautiful renovated apartment of 80 m2, 2 bedr..."
1,94000904,Flat / apartment,Hospìtal,El Raval,Barcelona,165000.0,58,49.0,2,1,...,False,False,False,False,no,NaN,311.0,65.0,south,This two-bedroom flat is located in an unbeata...
2,104382041,Flat / apartment,El Raval,Ciutat Vella,Barcelona,430000.0,155,89.0,3,2,...,False,False,True,True,central,NaN,NaN,NaN,NaN,Spacious and modern apartment on one side of L...
3,97791792,Flat / apartment,rambla del Raval,El Raval,Barcelona,279999.0,89,80.0,2,2,...,False,False,True,True,individual,electric,15.0,71.0,north,"MERC SANT ANTONI - RAMBLA RAVAL, two apartment..."
4,104397583,Flat / apartment,calle de les Carretes,El Raval,Barcelona,230000.0,70,NaN,2,2,...,False,False,True,False,no,NaN,90.0,190.0,north,Immotecnics exclusively presents this incredib...

## Merging description column

In [94]:
description = df[['id','description']]

In [95]:
df_merge = pd.merge(df2,description,on='id')

In [96]:
df_merge

,id,property_type,address,neighborhood,city,price,sq_m_built,n_bedrooms,bathrooms,floor,...,second_hand,needs_renovating,parking,swimming pool,garden,air_conditioning,heating,log_price,city-neighborhood,description
0,103375204,Flat / apartment,"calle de Sant Pau, 25",El Raval,Barcelona,530000.0,80,2,1,3,...,True,False,False,False,False,True,True,13.180634,Barcelona - El Raval,"Beautiful renovated apartment of 80 m2, 2 bedr..."
1,94000904,Flat / apartment,Hospìtal,El Raval,Barcelona,165000.0,58,2,1,3,...,True,False,False,False,False,False,False,12.013707,Barcelona - El Raval,This two-bedroom flat is located in an unbeata...
2,104382041,Flat / apartment,El Raval,Ciutat Vella,Barcelona,430000.0,155,3,2,1,...,True,False,False,False,False,True,True,12.971543,Barcelona - Ciutat Vella,Spacious and modern apartment on one side of L...
3,97791792,Flat / apartment,rambla del Raval,El Raval,Barcelona,279999.0,89,2,2,3,...,True,False,False,False,False,True,True,12.542545,Barcelona - El Raval,"MERC SANT ANTONI - RAMBLA RAVAL, two apartment..."
4,104397583,Flat / apartment,calle de les Carretes,El Raval,Barcelona,230000.0,70,2,2,1,...,True,False,False,False,False,True,False,12.345839,Barcelona - El Raval,Immotecnics exclusively presents this incredib...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10381,103987638,Flat / apartment,Verdun,Nou Barris,Barcelona,150000.0,45,2,1,1,...,True,False,False,False,False,False,True,11.918397,Barcelona - Nou Barris,"Flat in Barcelona, with 495.144 ft², 2 rooms a..."
10382,104095205,Flat / apartment,calle de las Navas de Tolosa,El Camp de l'Arpa del Clot,Barcelona,249633.0,63,2,1,2,...,True,True,False,False,False,True,True,12.427751,Barcelona - El Camp de l'Arpa del Clot,NAVAS DE TOLOSA STREET: Apartment to partially...
10383,104334424,Flat / apartment,"calle d'Aragó, 543",El Camp de l'Arpa del Clot,Barcelona,218900.0,46,2,1,2,...,True,False,False,False,False,False,False,12.296375,Barcelona - El Camp de l'Arpa del Clot,"Floor 2nd, flat total surface area 46 m², usab..."
10384,103060431,Flat / apartment,freser,El Camp de l'Arpa del Clot,Barcelona,245000.0,67,1,1,5,...,True,False,False,False,False,True,True,12.409018,Barcelona - El Camp de l'Arpa del Clot,"67 m2 apartment on Freser street, next to Pass..."
10385,103758599,Flat / apartment,calle de Còrsega,El Camp de l'Arpa del Clot,Barcelona,338000.0,81,4,1,2,...,True,False,False,False,False,False,False,12.730804,Barcelona - El Camp de l'Arpa del Clot,"Floor 2nd, flat total surface area 81 m², usab..."

In [97]:
df_merge.isna().sum()

id                   0
property_type        0
address              0
neighborhood         0
city                 0
price                0
sq_m_built           0
n_bedrooms           0
bathrooms            0
floor                0
year_built           0
exterior             0
lift                 0
terrace              0
balcony              0
second_hand          0
needs_renovating     0
parking              0
swimming pool        0
garden               0
air_conditioning     0
heating              0
log_price            0
city-neighborhood    0
description          0
dtype: int64